.caja1{
    height: 320px;
    width: 450px;
}
.caja2{
    width: 780px;
}

.table{
    width: 380px;
    height: 100px;
    margin: 10px;
}

.form1{
    margin: 20px;
    height: 215px;
    width: 700px;
}