html, body {
    height: 100%;
}

#cover{
    background: #222 url(../img/pug.jpg) center no-repeat;
    background-size: 100%;
    color: white;
    height: 100%;
    text-align: center;
}

#cover-texto{
    width: 100%;
}

.caja1{
    float: left;
    width: 25%;
}

.caja2{
    float: left;
    width: 75%;
}

.caja3{
    width: 100%;
    float: right;
}

footer{
    background-color: white;
}

img{
    height: 670px;
}