body {
  margin-top: 0%;
  background-color: #a7896c;
}
header{
  padding: 2px 0;
  font-family: black;
}
#Foto {
  width: 162px;
  height: 152px;
  float: left;
  margin-left: 15px;
}

.foto2 {
  width: 200px;
  height: 100px;
  float: right;
  
}

#src1 {
  width: 28%;
  margin-top: 100px;
  float: left;
}

.b{
  width: 309px;
}

.caja2{
  width: 72%;
  float: left;
}

#Titulo {
  background-color: burlywood;
  text-align: left;
  padding: 30px;
  color: black;
}
#Fot {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}
#Fot1 {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
#mapa{
  max-height: 130px;
}
#redes img{
  max-width: 30px;
  margin-bottom: 1rem;
}
footer{
  margin-top: 0%;
  background-color: burlywood;
}